<template>
    <div class="modal fade" id="incidenteCreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Incidente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  v-on:submit.prevent="store()">
                        <select v-model="incidente.persona" class="form-control mb-2">
                            <option v-for="persona in personas" :value="persona.id" :key="persona.id" >{{ persona.nombre }} {{ persona.apellido }}</option>
                        </select>
                        <select v-model="incidente.modus_operandi" class="form-control mb-2">
                            <option v-for="(key, value, index) in _modus" :value="value" :key="index" >{{ key }}</option>
                        </select>
                        <select v-model="incidente.calzado" class="form-control mb-2">
                            <option v-for="calzado in calzados" :value="calzado.id" :key="calzado.id" >
                            {{ calzado.marca  }} | {{ calzado.forma_sup }} {{ calzado.forma_inf }}
                            </option>
                        </select>
                        <input type="text" v-model="incidente.detalle" class="form-control mb-2" placeholder="Detalle...">
                        <input class="btn btn-outline-primary btn-block" type="submit" value="Agregar">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

      
</template>

<script>
export default {
    data () {
        return {
            incidente: {},
            personas: [],
            calzados: [],
            
        }
    },
    methods : {
        store() {
        axios
            .post(this.endpoint, this.incidente)
            .then(response => this.getIncidentes());
        },
    }
}
</script>

<style>

</style>
