<template>
  <div>
      <div class="row align-items-center">
        <h1 class="col-3">
          Incidentes
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#incidenteCreateModal"> Nuevo </button>
          </h1>
        <!-- <incidente-create-modal></incidente-create-modal> -->
        <form class="form-inline text-center col" v-on:submit.prevent="store()">
          <!-- <v-select v-model="filter.persona" :options="personas" label="apellido" class="mr-2 pl-0" placeholder="Personas...">
              <template slot="option" slot-scope="option">
                  <img :src="option.avatar" width="24px" height="24px" class="rounded-circle" style="object-fit:cover;">
                    {{ option.apellido }} {{ option.nombre }}
              </template>
          </v-select>
          <v-select v-model="filter.modus_operandi" :options="Object.keys(_modus)" label="value" class="mr-2 pl-0" placeholder="Modus..."></v-select>
            <v-select v-model="filter.calzado" :options="calzados" label="marca" class="mr-2 pl-0" placeholder="Calzados...">
              <template slot="option" slot-scope="option">
                  <img :src="option.foto_suela" width="24px" height="24px" class="rounded-circle" style="object-fit:cover;">
                {{ option.marca  }} | {{ option.forma_sup }} {{ option.forma_inf }}
              </template>
          </v-select> -->
        </form>
        <div class="col-3 text-right">
          <btn-group-pagination  :lastPage="lastPage" @changePage="getIncidentes"></btn-group-pagination>
        </div>
      </div>
      <hr>
    <table class="table table-borderless table-middle">

      <tbody>
        <tr v-for="(incidente , index) in incidentes" :key="index">
          <td > <numero :numero="incidente.id"></numero> </td>
          <td>
            <div v-if="incidente.calzado">
              <calzado-huella :formasup="incidente.calzado.forma_sup" :formainf="incidente.calzado.forma_inf"> </calzado-huella>
            </div>
          </td>
          <td v-if="personas">{{ personas[incidente.persona]}} 
            <!-- <persona-badge :id="incidente.persona.id" :nombre="personas[incidente.persona.id] " ></persona-badge>  -->
            </td>
          <td > {{ incidente.detalle }} </td>
          <td > <incidente-modus :modus="incidente.modus_operandi"></incidente-modus> </td>
            <td > {{ incidente.created | moment("DD-MM-YYYY") }} </td>
          <td class="text-right"> <btn-group-acciones model="incidentes" :id="incidente.id"> </btn-group-acciones> </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import apis from './../../apis.ts'
import IncidenteCreateModal from "./Create";
export default {
  name: "IncidentesIndex",
  components : {
    'incidente-create-modal' : IncidenteCreateModal
  },
  data() {
    return {
      incidentes: null,
      calzados: null,
      personas: null,
      incidente: {},
      filter: {},
      page: 1,
      lastPage: 999
    };
  },
  mounted() {
    this.$root.$on(
      "update",
      function() {
        this.getIncidentes();
      }.bind(this)
    );
    this.$root.$on(
      "changePage",
      function(val) {
        this.getIncidentes(val);
      }.bind(this)
    );
  },
  mounted() {
    this.getPersonas();
    this.getCalzados();
  },
  methods: {
    
    getIncidentes(page) {
      apis.getIncidentes(page)
        .then(response => { this.incidentes = response.data.data; })
        .catch (e => console.log(e))
    },
    getPersonas() {
      apis.getIncidentes()
        .then(response => { 
          this.personas = response.data.data; 
          this.getIncidentes(this.page);

          })
        .catch (e => console.log(e))
    },
    getCalzados() {
      apis.getCalzados()
        .then(response => { this.calzados = response.data.data; })
        .catch (e => console.log(e))
    }
  }
};
</script>

