<template>
  <span :class="'text-uppercase badge badge-' + classes[modus] + ' ' + size">{{ modus }}</span>
</template>

<script>
export default {
  name: 'IncidenteModus',
  props: ['modus','size'],
  data() {
    return {
      classes: {
        'causa' : 'info',
        'sumario' : 'warning',
        'contravencional' : 'danger',
      }
    }
  }
}
</script>

<style scoped>
  .sm { font-size: .6em; }
  .md { font-size: .9em; }
  .lg { font-size: 1.1em; }
  .xl { font-size: 1.5em; }
</style>
