<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Incidente <numero :numero="incidente.id"></numero></h1>
        <table class="table">
          <thead>
            <tr>
              <th v-for="(value,key, index) in incidente" :key="index">{{ key }}</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td > <numero :numero="incidente.id"></numero> </td>
              <td>
                <div v-if="incidente.calzado">
                  <calzado-huella
                    :formasup="incidente.calzado.forma_sup"
                    :formainf="incidente.calzado.forma_inf">
                  </calzado-huella>
                </div>
              </td>
              <td> <persona-badge :id="incidente.persona.id" :nombre="incidente.persona.nombre + ' ' + incidente.persona.apellido" ></persona-badge> </td>
              <td > {{ incidente.detalle }} </td>
              <td > <incidente-modus :modus="incidente.modus_operandi"></incidente-modus> </td>
               <td > {{ incidente.created | moment("DD-MM-YYYY") }} </td>
              <td class="text-right"> <btn-group-acciones model="incidentes" :id="incidente.id"> </btn-group-acciones> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "IncidentesShow",
  data() {
    return {
      incidente: {}
    };
  },
  created() {
    this.id = this.$route.params.id
    this.getIncidente();
  },
  methods: {
  getIncidente() {
    let endpoint =  this._apiUrl + "incidentes/" + this.id + '/';
    axios
    .get(endpoint)
      .then(response => this.incidente = response.data)
      .catch(e => console.log(e))
  }
  }
}
</script>

<style>

</style>
