// @import "custom";
@import "~bootstrap/scss/bootstrap";
@import "./dashboard";

h1,h2,h3,h4,h5,h6 {
    // font-weight: 400;
    color : color("dark");
}

body {
    padding-top: 30px;
    padding-bottom: 40px;
}

.mini-title {
    text-transform : uppercase;
    font-size: .7em;
    font-weight: normal;
    letter-spacing : 0.1em;
    font-weight: 400;
    color : color("gray");
}


.v-icon {
        width: 24px;
    }

    .text-monospaced {
      font-family: 'Courier New', Courier, monospace;
    }
.o-75 { opacity: .75; }
.o-50 { opacity: .5; }
.o-25 { opacity: .25; }

.table-middle td {
  vertical-align: middle;
}
