<template>
  <router-link :to="{ name: 'personasShow', params: { id: id }}">
    <div 
        data-toggle="tooltip" data-placement="top" 
        :class="'rounded-circle  float-left avatar ' + size " 
        :style="'background-image:url(' + img +');background-color: ' + color + ';'"
        :title="nombre"
        > <span v-if="!img">{{ nombre.split(" ").map((n)=>n[0]).join('') }} </span></div> 
    </router-link>
</template>

<script>
export default {
    name: 'PersonaAvatar',
    props : ['img','size','nombre','id','color']
}
</script>

<style scoped>
    .avatar {
        background-size: cover;
        background-position: center center;
        text-align: center;
        color: white;
        background-color: #c3c3c3;
        font-weight: bold;
        font-size: 1em;
        transition : .1s;
    }
    .avatar:hover {
        transform: scale(1.05);
    }
    .sm {
        width:31px; 
        height:31px; 
        line-height: 270%;
        font-size: .7em;
    }
    .md {
        width:38px; 
        height:38px; 
        line-height: 235%;
        font-size: 1em;

    }
    
    .lg {
        width:48px; 
        height:48px; 
        line-height: 230%;
        font-size: 1.3em;
    }
    .xl {
        width:70px; 
        height:70px; 
        line-height: 215%;
        font-size: 2em;
    }
    
</style>
