<template>
    <router-link :class="'btn btn-dark btn-' + size" href="#" :to="{ name: 'personasShow', params: { id: id }}">
      {{ nombre }} 
    </router-link>
</template>

<script>
export default {
  props:[ 'id', 'nombre' , 'size'],
  name: 'PersonaBadge'
}
</script>

<style scoped>
  .sm {
      width:31px; 
      height:31px; 
  }
  .md {
      width:38px; 
      height:38px; 
  }
  
  .lg {
      width:48px; 
      height:48px; 
  }
  .xl {
      width:70px; 
      height:70px; 
  }
</style>
