<template>
  <div class="">

    <h3>Calzados</h3>
    <loading v-if="!calzados"/>
    <table class="table table-borderless  " v-else>
      <thead>
        <tr class="mini-title">
          <td>ID</td>
          <td>Foto</td>
          <td>Huella</td>
          <td>Marca</td>
          <td>Color</td>
          <td class="text-right">Acciones</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="calzado  in uniqProducts" :key="calzado.calzado.id">
          <td><numero :numero="calzado.calzado.id"></numero></td>
          <td><calzado-foto size="md" :src="calzado.calzado.foto_suela"></calzado-foto> </td>
          <td class=" pb-1"> <calzado-huella :formasup="calzado.calzado.forma_sup" :formainf="calzado.calzado.forma_inf"></calzado-huella> </td>
          <td><calzado-marca  :marca="calzado.calzado.marca"></calzado-marca></td>
          <td><calzado-color :color="calzado.calzado.color" size="sm"></calzado-color></td>
          <td class="text-right"> <btn-group-acciones model="calzados" :id="calzado.calzado.id"></btn-group-acciones> </td>
        </tr>
      </tbody>
    </table>
    </div>
</template>

<script>
import apis from '../../apis.ts'

export default {
  props: ["personaPk"],
  name: "PersonaCalzados",
  data() {
    return {
      calzados: null
    };
  },
  computed: {
   uniqProducts () {
        return _.uniqBy(this.calzados, 'calzado.id')
    }
  },
  created() {
    this.getCalzados();
  },
  methods: {
    getCalzados() {
      apis.getPersonaCalzados(this.personaPk)
        .then(response => {
          this.calzados = response.data.results
          console.log('response calzados de persona ' + this.personaPk , response.data.results) 
          })
        .catch(e => {
          console.log(e)
          this.calzados = []
          });
    }
  }
};
</script>

<style>

</style>
