<template>
  <div class="card card-persona">
    <table class="table table-borderless">
    <code hidden>{{ size = 40/5 }}</code>
    <tbody>
        <tr >
        <td> <persona-avatar 
            :color="persona.color"
            :id="persona.id" 
            :nombre="persona.nombre + ' ' + persona.apellido" 
            :img="persona.avatar" 
            size="xl"></persona-avatar> </td>
        <td class="small" v-for="(value,key, index) in persona" :key="index" v-if="index<size" ><span class="mini-title">{{ key }} </span><br> {{ value }}</td> 
        </tr>
        <tr > <td class="small" v-for="(value,key, index) in persona" :key="index" v-if="index>size && index < size*2+2" ><span class="mini-title">{{ key }} </span><br> {{ value }}</td> </tr>
        <tr > <td class="small" v-for="(value,key, index) in persona" :key="index" v-if="index>size*2 && index < size*3+2 " ><span class="mini-title">{{ key }} </span><br> {{ value }}</td> </tr>
        <tr > <td class="small" v-for="(value,key, index) in persona" :key="index" v-if="index>size*3 && index < size*4+2 " ><span class="mini-title">{{ key }} </span><br> {{ value }}</td> </tr>
        <tr > <td class="small" v-for="(value,key, index) in persona" :key="index" v-if="index>size*4 && index < size*5+2 " ><span class="mini-title">{{ key }} </span><br> {{ value }}</td> </tr>
    </tbody>
    </table>
</div>
</template>

<script>
export default {
    name: 'PersonaDetalles',
    props : [ 'persona' ]

}
</script>

<style scoped>
  .card-persona {
    border-top-left-radius: 42px;
  }
</style>
