<template>
  <div>
    <h3>Fotos</h3>
    <table class="table  small">
      <tbody>
        <tr v-for="(foto , index) in fotos" :key="index">
          <!-- <td class="small" v-for="(value,key, index) in fotos" :key="index" > {{ value }}</td> -->
          <td width="6%" v-for="(key, value , i) in foto" :key="i">
            <div v-if="value!='created'">
              <span class="mini-title  d-block">{{ value.substr(5,16) }} </span>
              <img  :src="key" >
            </div>
              <span v-else class="mini-title  d-block">{{ key | moment("DD-MM-YYYY")  }} </span>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

export default {
  props: ["personaPk"],
  name: "PersonaFotos",

  data() {
    return {
      fotos: []
    };
  },
  created() {
    this.getFotos();
  },
  methods: {
    getFotos() {
      let endpoint = this._apiUrl + "personas/" + this.personaPk + "/fotos/?limit=100";
      axios
        .get(endpoint)
        .then(response => (this.fotos = response.data.results))
        .catch(e => console.log(e));
    }
  }
};
</script>

<style scoped>
  img {
    width: 70%;
    height: 60px;
    object-fit: cover;
    /* border: 1px solid gray; */
  }
</style>
