<template>
  <div>
    <h3>Incidentes</h3>
    <table class="table   table-borderless">
      <thead>
        <tr class="mini-title">
          <td>ID</td>
          <td>Detalle</td>
          <td>Modus</td>
          <td>Fecha</td>
          <td class="text-right">Acciones</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(incidente , index) in incidentes" :key="index">
          <td > {{ incidente.id }} </td>
          <td > {{ incidente.detalle }} </td>
          <td > <incidente-modus :modus="incidente.modus_operandi"></incidente-modus> </td>
          <td > {{ incidente.created | moment("DD-MM-YYYY") }} </td>
          <td class="text-right"> <btn-group-acciones model="incidentes" :id="incidente.id"> </btn-group-acciones> </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

export default {
  props: ["personaPk"],
  name: "PersonaIncidentes",
  data() {
    return {
      incidentes: []
    };
  },
  created() {
    this.getIncidentes();
  },
  methods: {
    getIncidentes() {
      let endpoint = this._apiUrl + "personas/" + this.personaPk + "/incidentes/?limit=100";
      axios
        .get(endpoint)
        .then(response => (this.incidentes = response.data.results))
        .catch(e => console.log(e));
    }
  }
};
</script>

<style>

</style>
