<template>
  <div class="">
    <div class="d-flex justify-content-between align-items-center" v-if="personas">
      <h1>Personas </h1>
      <input type="text" class="form-control w-25" v-model="query" placeholder="Buscar...">
      <btn-group-pagination  :lastPage="lastPage" @changePage="getPersonas"></btn-group-pagination>
    </div>
    <hr>
  <table class="table table-borderless table-middle" v-if="personas">
    <thead>
      <tr >
        <th colspan="3"></th>
        <th v-for="field in fields" :key="field"> {{ field }}</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr v-show="query.length <2" v-for="(persona,i)  in personas" :key="i">
        <td><numero :numero="persona.id"></numero>  </td>
        <td> <persona-avatar :id="persona.id" :color="persona.color" :nombre="persona.nombre + ' ' + persona.apellido"  :img="persona.avatar" size="md"></persona-avatar> </td>
        <td> <persona-badge :id="persona.id" :nombre="persona.nombre + ' ' + persona.apellido" ></persona-badge> </td>
        <td class="small" v-for="field in fields" :key="field"> {{ persona[field] }}</td>
        <td class="text-right"> <btn-group-acciones model="personas" :id="persona.id"> </btn-group-acciones> </td>
      </tr>
      <!-- <tr v-show="query.length >=2" v-for="(persona,j) in filteredPersonas" :key="j">
        <td><numero :numero="persona.id"></numero>  </td>
        <td> <persona-avatar :color="persona.color" :nombre="persona.nombre + ' ' + persona.apellido"  :img="persona.avatar" size="md"></persona-avatar> </td>
        <td> <persona-badge :id="persona.id" :nombre="persona.nombre + ' ' + persona.apellido" ></persona-badge> </td>
        <td class="small" v-for="field in fields" :key="field"> {{ persona[field] }}</td>
        <td class="text-right"> <btn-group-acciones model="personas" :id="persona.id"> </btn-group-acciones> </td>
      </tr> -->
    </tbody>
  </table>
</div>

</template>

<script>
import apis from './../../apis.ts'
export default {
	name: 'PersonasIndex',
	data() {
		return {
			query: '',
			personas: null,
			fields: [
				'sexo',
				'apellido',
				'apellido2',
				'domicilio',
				'fnac',
				'apodo',
				'dni'
			],
			allPersonas: [],
			// endpoint: this._apiUrl + 'personas/',
			page: 1,
			lastPage: 999
		}
	},
	computed: {
		filteredPersonas() {
			var self = this
			return this.allPersonas.filter(persona => {
				if (
					persona.nombre
						.toLowerCase()
						.includes(self.query.toLowerCase()) ||
					persona.apellido
						.toLowerCase()
						.includes(self.query.toLowerCase()) ||
					persona.apellido2
						.toLowerCase()
						.includes(self.query.toLowerCase())
				)
					return true
			})
		}
	},
	created() {
		this.getPersonas(this.page)
		// this.getPersonasAll()
	},
	methods: {
		getPersonasAll() {
			// console.log('hola')
			apis.getPersonasAll().then(response => {
				this.allPersonas = response.data.results
			})
			.catch(e => console.log(e))
			// axios
			// 	.get(this.endpoint + '?limit=10000')
			// 	.then(response => {
			// 		this.allPersonas = response.data.results
			// 		console.log(this.allPersonas)
			// 	})
			// 	.catch(e => console.log(e))
		},
		getPersonas(page) {
			apis.getPersonas(page).then(response => {
				this.personas = response.data.data
				console.log(response.data.data)
			})
			.catch(e => console.log(e))
			// axios
			// 	.get(this.endpoint + '?limit=10&offset=' + page * 10)
			// 	.then(response => {
			// 		this.personas = response.data.results
			// 		this.lastPage = response.data.count / 10
			// 	})
			// 	.catch(e => console.log(e))
		}
	}
}
</script>
