<template>
  <div class="card">
      <div class="card-body">
          <h4 class="card-title">Ubicacion</h4>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
