<template>
  <div class="container-fluid">
    <div class="row mb-3" v-if="persona">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <h1 class="">{{ persona.nombre + ' ' + persona.apellido}} <numero size="sm"  :numero="persona.id"></numero></h1>
        <persona-detalles :persona="persona"></persona-detalles>
      </div>
      
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-12 col-md-12 co l-sm-12" v-if="persona">
        <persona-incidentes  :persona-pk="id"></persona-incidentes>
      </div>
       <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12" v-if="persona">
        <persona-calzados  :persona-pk="id"></persona-calzados>
      </div>
    </div>
    <div class="row">
      <div class="col" v-if="persona">
        <persona-fotos  :persona-pk="id"></persona-fotos>
      </div>
      <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12">
        <persona-mapa :direccion="persona.domicilio"></persona-mapa>
      </div>
    </div>
  </div>
</template>

<script>
import apis from '../../apis.ts'
export default {
  name: "PersonasIndex",
  data() {
    return {
      persona: null,
      id: null
    };
  },
  created() {
    this.id = this.$route.params.id;
    this.getPersona();
  },
  methods: {
    getPersona() {
      apis.getPersona(this.id)
        .then(response => (this.persona = response.data))
        .catch(e => console.log(e));
    }
  }
};
</script>
