<template>
  <div class="btn-group">
    <a href="#" class="btn border-0 btn-outline-secondary btn-sm" v-on:click.prevent="destroy()"><icon name="trash"></icon></a>
    <a href="#" class="btn border-0 btn-outline-secondary btn-sm"><icon name="edit"></icon></a>
    <router-link :to="{ name: model + 'Show', params: { id: id }}" class="btn border-0 btn-outline-secondary btn-sm">
      <icon name="angle-right"></icon>
    </router-link>
  </div>
</template>

<script>
export default {
  props: [ 'model', 'id' ],
  name:'BtnGroupAcciones',
  methods: {
    destroy(){
      axios
        .delete(this._apiUrl  +  this.model + "/" + this.id + "/")
          .then( response => this.$root.$emit('update') )
          .catch(e=>console.log(e))
    }
  }

}
</script>
<style scoped>
.fa-icon {
  width: auto;
  height: 1em; 
  max-width: 100%;
  max-height: 100%;
}
</style>
