<template>
  <div class="btn-group ">
    <a href="#" :class="'btn btn-light ' + [page <= 0 ? 'disabled' : '']" v-on:click.prevent="page --">Anterior</a>
    <a href="#"  class="btn btn-light disabled" >{{ page+1 }}</a>
    <a href="#" :class="'btn btn-light ' + [page >= (count/10)-1 ? 'disabled' : '']" v-on:click.prevent="page ++">Siguiente</a>
  </div>
</template>

<script>
export default {
  name:'BtnGroupPagination',
  props: [ 'count' ],
  data () {
    return {
      page: 0
    }
  },
  watch: {
    page: function (val) {
      this.$emit('changePage', val)
    },
  },
}
</script>
