<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Búsqueda de Personas</h4>
                        <h5 class="card-subtitle text-muted">Complete los campos deseados y verá los resultados en el momento</h5>
                        <hr>
                        <input type="text" class="form-control form-control-sm mb-2" v-model="query" placeholder="Nombre, apellidos y apodo">
                        <div class="form-row">
                            <label for="" class="col-4 mini-title">Cabelllo Color</label>
                            <select v-model="persona.cabello_color" class="col-8 form-control form-control-sm mb-2">
                                <option value=""   >Todos</option>
                                <option v-for="(key, value, index) in _cabello_color" :value="key" :key="index">{{value}}</option>
                            </select>        
                        </div>
                        <div class="form-row d-flex align-items-middle">
                            <label for="" class="col-4 mini-title d-inline-block">Tez</label>
                            <select v-model="persona.tez" class="col-8 form-control form-control-sm mb-2">
                                <option value=""   >Todas</option>
                                <option v-for="(key, value, index) in _tez" :value="value" :key="index">{{key}}</option>
                            </select>        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card p-1">
                    <table class="table table-borderless  table-middle table-sm table-responsive">
                        <thead>
                            <tr class="small mini-title" >
                                <td colspan="2"></td>
                                <td v-for="(value,key, index) in allPersonas[0]" :key="index"> {{ key }}</td>
                                <td>Acciones</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="persona in filteredPersonas" :key="persona.id">
                                <td><numero :numero="persona.registro"></numero>  </td>
                                <td><persona-avatar size="sm" :color="persona.color" :nombre="persona.nombre + ' ' + persona.apellido"  :img="persona.avatar" ></persona-avatar> </td>
                                <td><persona-badge :id="persona.id" :nombre="persona.nombre + ' ' + persona.apellido" size="sm"></persona-badge> </td>
                                <td class="small" v-for="(value,key, index) in persona" :key="index" v-if="key!='avatar'"> {{ value }}</td>
                                <!-- <td class="text-right"> <btn-group-acciones model="personas" :id="persona.id"> </btn-group-acciones> </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'BusquedaIndex',
    data() {
        return {
            query: '',
            persona : {
                cabello_color : '',
                tez : ''
            },
            allPersonas : [],
            endpoint : this._apiUrl + "busqueda/",
        };
    },
    computed: {
        filteredPersonas() {
            var self=this;
            return this.allPersonas.filter( persona => {
                if (
                    persona.tez.includes(self.persona.tez) &&
                    persona.cabello_color.includes(self.persona.cabello_color) &&
                   ( 
                        persona.nombre.toLowerCase().includes(self.query.toLowerCase()) ||
                        persona.apellido.toLowerCase().includes(self.query.toLowerCase())  ||
                        persona.apellido2.toLowerCase().includes(self.query.toLowerCase()) ||
                        persona.apodo.toLowerCase().includes(self.query.toLowerCase()) 
                    )
                     ) return true;
                })
            },
    },
    created() {
        this.getAllPersonas();
    },
    methods: {
        getAllPersonas(){
            axios
                .get(this.endpoint + "?limit=10000")
                    .then(response => this.allPersonas = response.data.results )
                    .catch(e => console.log(e));
            },
    }
}
</script>

<style>

</style>
