<template>
  <section>
    <nav-bar />
    <div class="container-fluid">
      <div class="row">
        <side-bar />
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <router-view />
        </main>
      </div>
    </div>
  </section>
</template>

<script>
import navBar from './Navbar.vue'
import sideBar from './SideBar.vue'

export default {
	name: 'App',
	components: { navBar, sideBar }
}
</script>