<template>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{ msg }}</h1>
      <h4 class="card-subtitle">Sistema de busqueda de individuos</h4>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Main',
  data () {
    return {
      msg: 'Bienvenidos a Huellas 2.0'
    }
  }
}
</script>