<template>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{$store.state.app.name}} {{$store.state.app.version}}</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap" v-for="link in $store.state.links" :key="link.id">
        <router-link :to='link.url' class="nav-link">{{link.name}}</router-link>
      </li>

    </ul>
      
    </div>

  </nav>
</template>

<script>
export default {
  name: 'navBar'
}
</script>
