<template>
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item " v-for="link in $store.state.links" :key="link.id">
            <router-link :to='link.url' class="nav-link">{{link.name}}</router-link>
        </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Mas Acciones</span>
        <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
        </a>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item " v-for="link in $store.state.sideLinks" :key="link.id">
            <router-link :to='link.url' class="nav-link">{{link.name}}</router-link>
        </li>
    </ul>
    </div>
</nav>
</template>

<script>
export default {

}
</script>

<style>

</style>
