<template>
  <span :class="'dot ' + size" :style="'background-color: ' + color"> </span>
</template>

<script>
export default {
    props: ['color','size'],
    name: 'CalzadoColor'
}
</script>

<style scoped>
    .dot {
        display: inline-block;
        background-color: #cecece;
        border-radius: 50%;
    }

    .sm {
        width:31px; 
        height:31px; 
    }
    .md {
        width:38px; 
        height:38px; 
    }
    
    .lg {
        width:48px; 
        height:48px; 
    }
    .xl {
        width:70px; 
        height:70px; 
    }
</style>
