<template>

    <div class="modal fade" id="incidenteCreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Calzado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="" v-on:submit.prevent="store()">
                        <v-select v-model="calzado.marca" :options="Object.keys(_marcas)" class="mb-2" placeholder="Marca..."> </v-select>
                        <v-select v-model="calzado.forma_sup" :options="Object.keys(_formas)" class="mb-2" placeholder="Forma Superior..."></v-select>
                        <v-select v-model="calzado.forma_inf" :options="Object.keys(_formas)" class="mb-2" placeholder="Forma Inferior..."></v-select>
                        <v-select v-model="calzado.color" :options="Object.keys(_colores)" class="mb-2" placeholder="Color..."></v-select>
                        <input type="file" id="foto_suela" class="form-control mb-2"  v-on:change="fileChange($event.target.files)"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" v-on:click.prevent="submitFile()">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CalzadoCreate',
    mounted() {
      console.log(this)  
    },
    data () {
        return {
            calzado: {},
            files: new FormData(),
            endpoint: this._apiUrl + "calzados/",
        }
    },
    methods : {
        fileChange(fileList) {
            this.files.append("foto_suela", fileList[0], fileList[0].name);
        },
        submitFile(){
            // this.$router.push({ name: 'calzados'})
            
            this.files.append('marca',this.calzado.marca)
            this.files.append('forma_sup',this.calzado.forma_sup)
            this.files.append('forma_inf',this.calzado.forma_inf)
            this.files.append('color',this.calzado.color)
            axios.post( this.endpoint , this.files, { headers: { 'Content-Type': 'multipart/form-data' } } )
                .then( response => {
                    document.getElementsByClassName('modal-backdrop')[0].remove();
                    this.$router.push({ name: 'calzadosShow', params: { userId: response.data.id }})
                } )
                .catch( e =>  console.log('FAILURE!!', e) );
            },
        }
    }
</script>

<style>

</style>
