<template>
  <img :src="src" :class="'rounded ' + size" >
</template>

<script>
  export default {
    props: ['src' , 'size']
  }
</script>

<style scoped>
  img {
    object-fit: cover;
    height: 38px;
    display: inline-block;
  }
  .xs { height: 24px; width: 70px; }
  .sm { height: 31px; width: 80px; }
  .md { height: 38px; width: 100px; }
  .lg { height: 58px; width: 165px; }
  .xl { height: auto; width: 100%; }
</style>
