<template>
  <div >
      <span :class="' huella huella-sup forma-' + formasup" :title="formasup" :alt="formasup"></span>
      <span :class="' huella huella-inf forma-' + formainf" :title="formainf" :alt="formainf"></span>
  </div>
</template>

<script>
import apis from './../../apis.ts'
export default {
    props:[ 'formasup','formainf' , 'size'],
    name: 'CalzadoHuella',
    data() {
        return {
        }
    },
    mounted() {
    },
    methods : {
        
    }
}
</script>

<style lang="scss" >

 $huella-height: 38px;
    .sm { $huella-height: 31px; }
    .md { $huella-height: 38px;}
    .lg { $huella-height: 48px; }
    .xl { $huella-height: 58px; }

    .huella {
        background-repeat: repeat;
        background-size: cover;
        background-position: center center;
        display: inline-block;
        height:$huella-height;
        background-color: #f3f3f3;
        border-radius: 6px;
    }
    .huella-sup {
        width: $huella-height *2;
        border-left : 4px solid #343a40;
        border-right : 2px solid #343a40;

        border-top-left-radius: $huella-height/2;
        border-bottom-left-radius:  $huella-height/2;
    }
    .huella-inf {
      width: 31px;
        border-right : 4px solid #343a40;
        border-left : 2px solid #343a40;
        border-top-right-radius:    $huella-height/2;
        border-bottom-right-radius: $huella-height/2;
    }

    .forma-lineas { background-image: url('~/../img/formas/lineas.png')  ; }
    .forma-circulos { background-image: url('~/../img/formas/circulos.png')  ; }
    .forma-ajedrez { background-image: url('~/../img/formas/ajedrez.png')  ; }
    .forma-lunares { background-image: url('~/../img/formas/lunares.png')  ; }
    .forma-puntos { background-image: url('~/../img/formas/puntos.png')  ; }
    .forma-cuadricula { background-image: url('~/../img/formas/cuadricula.png')  ; }
    .forma-diagonales { background-image: url('~/../img/formas/diagonales.png')  ; }
    .forma-cuadrados { background-image: url('~/../img/formas/cuadrados.png')  ; }
    .forma-ovalos { background-image: url('~/../img/formas/ovalos.png')  ; }
    .forma-abstracto { background-image: url('~/../img/formas/abstracto.png')  ; }
    .forma-textura { background-image: url('~/../img/formas/textura.png')  ; }
    .forma-lisa { background-image: url('~/../img/formas/lisa.png')  ; }
    .forma-ondas { background-image: url('~/../img/formas/ondas.png')  ; }
    .forma-espiral { background-image: url('~/../img/formas/espiral.png')  ; }
    .forma-triangulos { background-image: url('~/../img/formas/triangulos.png')  ; }
    .forma-angulos { background-image: url('~/../img/formas/angulos.png')  ; }
    .forma-barras { background-image: url('~/../img/formas/barras.png')  ; }
    .forma-citculos { background-image: url('~/../img/formas/citculos.png')  ; }
    .forma-cruces { background-image: url('~/../img/formas/cruces.png')  ; }

</style>
