<template>
    <div class="card">
        <div class="card-body">
            <h3>Incidentes</h3>
        </div>
        <table class="table   table-borderless table-middle">
        <thead>
            <tr class="mini-title">
            <td>ID</td>
            <td>Detalle</td>
            <td>Modus</td>
            <td>Persona</td>
            <td>Fecha</td>
            <td class="text-right">Acciones</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(incidente , index) in incidentes" :key="index">
            <td > <numero :numero="incidente.id"></numero></td>
            <td> {{ incidente.detalle }} </td>
            <td > <incidente-modus :modus="incidente.modus_operandi" size="md"></incidente-modus> </td>
              <td> <persona-badge 
                :id="incidente.persona.id" 
                :nombre="incidente.persona.nombre + ' ' + incidente.persona.apellido" 
                size="sm"
                ></persona-badge> </td>
            <td> {{ incidente.created | moment("DD-MM-YYYY") }} </td>
            <td class="text-right"> 
                <btn-group-acciones model="incidentes" :id="incidente.id"> </btn-group-acciones> 
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</template>

<script>
import apis from '../../apis.ts'
export default {
	name: 'CalzadoIncidentes',
	data() {
		return {
			incidentes: []
		}
	},
	created() {
		this.getIncidentes(this.$store.state.calzado.id)
		this.$root.$on(
			'updateKey',
			function(val) {
				this.getIncidentes(val)
			}.bind(this)
		)
	},
	methods: {
		getIncidentes(calzado_id) {
			apis
				.getIncidentes(calzado_id)
				.then(response => (this.incidentes = response.data.results))
				.catch(e => console.log(e))
		}
	}
}
</script>

<style>
</style>
