<template>
          <div class="">
            <div class="row align-items-center">
              <h1 class="col-3">
                Calzados
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#incidenteCreateModal"> Nuevo </button>
              </h1>
              <!-- <calzado-create-modal></calzado-create-modal> -->
              <form action="#" class="form-inline col">
                <!-- <v-select v-model="filter.marca" :options="marcas" class="mr-2" placeholder="Marca..."> </v-select>
                <v-select v-model="filter.forma_sup" :options="forma_sup" class="mr-2" placeholder="Forma Superior..."></v-select>
                <v-select v-model="filter.forma_inf" :options="forma_inf" class="mr-2" placeholder="Forma Inferior..."></v-select> -->
              </form>
              <div class="col-3 text-right" v-if="calzados">
      					<btn-group-pagination  :lastPage="lastPage" @changePage="getCalzados"></btn-group-pagination>
              </div>
            </div>
            <hr>

            <table class="table table-borderless table-middle" v-if="calzados">
              <tbody>
                <tr v-for="(calzado , index) in calzados" :key="index">
                  <td><numero :numero="calzado.id"></numero></td>
                  <td><calzado-foto size="md" :src="calzado.foto_suela"></calzado-foto> </td>
                  <td class=" pb-1"> <calzado-huella :formasup="formas[calzado.forma_sup].nombre" :formainf="formas[calzado.forma_inf].nombre"></calzado-huella> </td>
                  <td><calzado-marca  :marca="marcas[calzado.marca].nombre"></calzado-marca></td>
                  <td><calzado-color :color="calzado.color" size="sm"></calzado-color> </td>
                  <td class="text-right"> <btn-group-acciones model="calzados" :id="calzado.id"></btn-group-acciones> </td>
                </tr>
                <!-- <tr v-if="filter.marca != '' || filter.forma_sup != '' || filter.forma_inf != ''" v-for="(calzado , index) in filteredCalzados" :key="index">
                  <td><numero :numero="calzado.id"></numero></td>
                  <td><calzado-foto size="md" :src="calzado.foto_suela"></calzado-foto> </td>
                  <td class=" pb-1"> <calzado-huella :formasup="calzado.forma_sup" :formainf="calzado.forma_inf"></calzado-huella> </td>
                  <td><calzado-marca  :marca="calzado.marca"></calzado-marca></td>
                  <td><calzado-color :color="calzado.color" size="sm"></calzado-color> </td>
                  <td class="text-right"> <btn-group-acciones model="calzados" :id="calzado.id"></btn-group-acciones> </td>
                </tr> -->
              </tbody>
            </table>
          </div>
</template>

<script>
import CalzadoCreateModal from './Create'
import apis from '../../apis.ts'
export default {
	name: 'calzadosIndex',
	components: {
		'calzado-create-modal': CalzadoCreateModal
	},
	data() {
		return {
			// marcas: Object.keys(this.$store.state.marcas),
			// forma_sup: Object.keys(this.$store.state.formas),
			// forma_inf: Object.keys(this.$store.state.formas),
			calzados: null,
      marcas : null,
            formas : null,

			filter: { marca: '', forma_sup: '', forma_inf: '' },
			page: 1,
			count: 0,
			lastPage: 999

		}
	},
	mounted() {
		let params = { page: this.page }
		this.getCalzados(this.page)
		this.getMarcas();
		this.getFormas();

	},
	methods: {
		getCalzados(page) {
			apis.getCalzados(page).then(response => {
				console.log(response.data.data);
				this.calzados = response.data.data
			})
		},
		 getMarcas() {
      apis.getMarcas() 
      .then( response=> {
        this.marcas = response.data
        console.log('marcas ', response)
      })
      .catch(e => console.log(e))
		},
		getFormas() {
            apis.getFormas() 
            .then( response=> {
                this.formas = response.data
                console.log('formas ', response)
            })
            .catch(e => console.log(e))
        }
		// updateCalzados(page) {
		// 	let params = { page: page }
		// 	this.$store.dispatch('getCalzados', params).then(response => {
		// 		this.calzados = response.data.results
		// 	})
		// }
	},
	computed: {
		filteredCalzados() {
			var self = this
			return this.calzados.filter(calzado => {
				if (
					calzado.marca.includes(self.filter.marca) &&
					calzado.forma_sup.includes(self.filter.forma_sup) &&
					calzado.forma_inf.includes(self.filter.forma_inf)
				)
					return true
			})
		}
	}
}
</script>
