<template>
  <span>
    <img style="" class="img-fluid" :src="'../img/marcas/' + marcas[marca] + '.jpg'" :alt="marca"> <small class="ml-2 mini-title">{{ marcas[marca] }}</small>
  </span>
</template>

<script>
  export default { props: ['marca'] }
</script>

<style scoped>
  img{
    max-width: 50px;
    max-height: 36px;
  }
</style>
