<template>
    <div class="card card-personas">
        <div class="card-body">
            <h3>Personas</h3>
					  <loading v-if="!calzado" />
            <div class="d-flex mt-3" v-else >

                <persona-avatar v-for="incidente in incidentes"  
                    :key="incidente.id"
                    :id="incidente.persona.id" 
                    :nombre="incidente.persona.nombre + ' ' + incidente.persona.apellido" 
                    :color="incidente.persona.color"
                    :img="incidente.persona.avatar"
                    size="lg"
                    ></persona-avatar>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  props: ["id"],
  name: "CalzadoPersonas",
  data() {
    return {
      incidentes: []
    };
  },
  created() {
    this.getIncidentes();
  },
  methods: {
    getIncidentes() {
      let endpoint = this._apiUrl + "calzados/" + this.id + "/incidentes/";
      axios
        .get(endpoint)
        .then(response => (this.incidentes = response.data.results))
        .catch(e => console.log(e));
    }
  }
};
</script>

<style >
.card-personas .avatar {
  margin-right: -5px;
  box-shadow: -8px 0px 3px -2px rgba(0,0,0,.1);
}

</style>
