<template>
  <div class="container-fluid" >
    <div class="row">
      <div class="col-8">
        <div class="card mb-3">
					<loading v-if="!calzado" />
          <div class="card-body" v-else>
            <h1>Calzado <numero :numero="calzado.id"></numero>  </h1>
            <table class="table table-middle" >
              <tbody>
                <tr >
                  <td><numero :numero="calzado.id"></numero></td>
                  <td><calzado-foto size="md" :src="calzado.foto_suela"></calzado-foto> </td>
                  <td><calzado-huella :formasup="calzado.forma_sup" :formainf="calzado.forma_inf"></calzado-huella> </td>
                  <td><calzado-marca  :marca="calzado.marca"></calzado-marca></td>
                  <td><calzado-color :color="calzado.color" size="sm"></calzado-color> </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <calzado-incidentes ></calzado-incidentes>
      </div>
      <div class="col-4">
        <calzado-personas :id="id"></calzado-personas>
        <div class="card mt-3">
          <div class="card-body">
            <calzado-foto size="xl" :src="calzado.foto_suela" ></calzado-foto>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apis from '../../apis.ts'

export default {
	name: 'calzadosShow',
	data() {
		return {
			// params: {},
			id: null,
			calzado: null
		}
	},
	mounted() {
		console.log('params ', this.$route.params)
		this.id = this.$route.params.id
		this.getCalzado()
		// this.$root.$on(
		// 	'keyPressed',
		// 	function(dir) {
		// 		if (dir == 1) this.id++
		// 		else this.id--
		// 		this.$store.dispatch('getCalzado', { id: this.id }).then(() => {
		// 			this.calzado = this.$store.state.calzado
		// 		})
		// 		this.$emit('updateKey', this.id)
		// 	}.bind(this)
		// )
	},
	methods: {
		getCalzado() {
			apis.getCalzado(this.id).then(response => {
				this.calzado = response.data
				console.log(response.data.results)
			})
			// this.$store.dispatch('getCalzado', this.params).then(response => {
			// 	this.calzado = response.data
			// })
		}
	}
}
</script>
