<template>
  <span :class="'text-monospaced badge badge-light text-muted ' + size" > <span class="o-50">#</span>{{ numero | pad }}</span>
</template>
<script>
  export default {
    props: ['numero','size']
  }
</script>


<style scoped>
  .sm { font-size: .6em; }
  .md { font-size: .9em; }
  .lg { font-size: 1.1em; }
  .xl { font-size: 1.5em; }
</style>
