<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center">
          <h1>Marcas</h1>
          <form class=" form-inline" v-on:submit.prevent="store()">
              <input class="form-control" type="text" v-model="marca.nombre" placeholder="Marca...">
              <input class="btn btn-outline-primary ml-2" type="submit" value="Agregar">
          </form>
        </div>
        <table class="table">
         
          <tbody>
            <tr v-for="(marca , index) in _marcas" :key="index">
              <td v-for="(value,key, index) in marca" :key="index"> {{ value }}</td>
              <td class="text-right">
                <btn-group-acciones model="marcas" :id="marca.id"></btn-group-acciones>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CalzadosMarcasIndex",
  data() {
    return {
      marcas: [],
      marca: {},
      endpoint:  this._apiUrl + "marcas/"
    };
  },
  mounted(){
    this.$root.$on('update',function(){
      this.getMarcas();
    }.bind(this))
  },
  created() {
    this.getMarcas();
  },
  methods: {
    store() {
        axios
            .post(this.endpoint,this.marca)
                .then( data => this.getMarcas() )
                .catch( e => console.log(e) )
    },
    
  }
};
</script>

<style>

</style>
