<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center">
          <h1>formas</h1>
          <form class=" form-inline" v-on:submit.prevent="store()">
              <input class="form-control" type="text" v-model="forma.nombre" placeholder="forma...">
              <input class="btn btn-outline-primary ml-2" type="submit" value="Agregar">
          </form>
        </div>
        <table class="table">
          <tbody>
            <tr v-for="(forma , index) in _formas" :key="index">
              <td>
                <calzado-huella :formasup="forma.nombre" :formainf="forma.nombre"></calzado-huella>
              </td>
              <td v-for="(value,key, index) in forma" :key="index"> {{ value }}</td>
              <td class="text-right">
                <btn-group-acciones model="formas" :id="forma.id"></btn-group-acciones>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "CalzadosFormasIndex",
  
  data() {
    return {
      formas: [],
      forma: {},
      endpoint:  this._apiUrl + "formas/"
    };
  },
  created() {
    this.getFormas();
  },
  methods: {
    store() {
      axios
        .post(this.endpoint,this.forma)
          .then( data => this.getFormas() )
          .catch( e => console.log(e) )
    },
    
  }
};
</script>

<style>

</style>
